html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

.bee {
  position: absolute;
}

.page-section {
  padding: 8rem 0;
}

#bees {
  height: 100vh;
  background: #104E8B;
}

#webcam {
  background: #3F9AE0;
}

#camera {
  height: 100vh;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: #F0904C;
}
header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}
